<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="far fa-compass"></i> Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-database"></i>
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="productDropdown">
                    <a class="dropdown-item" href="/product/categories"><i class="fa fa-search-plus"></i> Browse Categories</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Product Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-search-minus"></i> Current Discounts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users"></i>
                    Customers
                </a>
                <div class="dropdown-menu" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-user-plus"></i> Register</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                </div>
            </li>
        </ul>
        <form class="form-inline ml-auto d-none d-md-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-search" aria-hidden="true"></i><span class="sr-only sr-only-focusable"> Search</span></button>
        </form>
    </div>
</nav>
@using WebApplication1.Models
@model IEnumerable<Category>
<ul>
    @foreach (Category category in Model)
    {
        <li>@category.categoryName - @category.description</li>
    }
</ul>