 <!-- toast -->
<div id="toast" class="toast">
    <div class="toast-header">
        <strong class="mr-auto" id="product">Product Name</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Discount Code: <strong id="code">CODE</strong>
    </div>
</div>
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="far fa-compass"></i> Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-database"></i>
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="productDropdown">
                    <a class="dropdown-item" href="/product/categories"><i class="fa fa-search-plus"></i> Browse Categories</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Product Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-search-minus"></i> Current Discounts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users"></i>
                    Customers
                </a>
                <div class="dropdown-menu" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-user-plus"></i> Register</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                </div>
            </li>
        </ul>
        <form class="form-inline ml-auto d-none d-md-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-search" aria-hidden="true"></i><span class="sr-only sr-only-focusable"> Search</span></button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="jumbotron m-0">
        <h1 class="display-4">Northwind</h1>
        <p class="lead">We have the best prices and selection of high quality foods & beverages on the planet! Check out our featured discounts below</p>
        <hr class="my-4">
        <p>For spectacular international quisuine, look no further.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Order Now <i class="fa fa-angle-double-right"></i></a>
    </div>
    <!-- grid -->
    <div class="row">
        <div class="col-md m-3 p-3 discounts">
            <h3>Tis the seasoning</h3>
            <div class="mb-4">
                Order today! Save 12.5% on Chef Anton's Italian Seasoning.
                You don't want to make Chef Anton mad, do you?
            </div>
            <i>Discount expires: 2/25/2019</i><br />
            <a href="#" class="code" data-code="2220" data-product="Chef Anton's Italian Seasoning"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        <div class="col-md m-3 p-3 discounts">
            <h3>Tis the seasoning</h3>
            <div class="mb-4">
                Order today! Save 12.5% on Chef Anton's Italian Seasoning.
                You don't want to make Chef Anton mad, do you?
            </div>
            <i>Discount expires: 2/25/2019</i><br />
            <a href="#" class="code" data-code="2221" data-product="Chef Anton's Italian Seasoning"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        <div class="col-md m-3 p-3 discounts">
            <h3>Tis the seasoning</h3>
            <div class="mb-4">
                Order today! Save 12.5% on Chef Anton's Italian Seasoning.
                You don't want to make Chef Anton mad, do you?
            </div>
            <i>Discount expires: 2/25/2019</i><br />
            <a href="#" class="code" data-code="2222" data-product="Chef Anton's Italian Seasoning"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
    </div>
</div>